<div class="col-span-1"></div>
</div>
</div>
<footer class="bg-gray-900 text-white py-4">
  <div class="container mx-auto">
    <p class="text-center">&copy; 2024 MisterySmurfs</p>
  </div>
</footer>
</body>
</html>
