<%- include('partials/MasterHeader') %>
<title>MisterySmurfs - Frequently Asked Questions</title>
</div>
<div class="col-span-10">
    <section>
        <div class="bg-gray-900 shadow-lg rounded-lg overflow-hidden">
            <h1 class="text-4xl font-bold text-center text-white py-8"><span class="title-text-home">Frequently Asked Questions</span></h1>
            <p class="text-lg text-center text-gray-300 px-4 pb-8">Find the answers to the most frequently asked questions about MisterySmurfs, your premier League of Legends smurf account shop.</p>
          </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 pt-4">
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="bg-gray-900 rounded-lg shadow-md">
                    <div class="p-4">
                        <h6 class="mb-3 text-sky-500 text-lg font-semibold"><i class="far fa-money-bill-alt text-yellow-500 pe-2"></i> How can I purchase a League of Legends smurf account?</h6>
                        <p>
                            <strong><u>It's easy!</u></strong> Browse our selection of smurf accounts, select the one that fits your needs, and follow the checkout process to complete your purchase.
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="bg-gray-900 rounded-lg shadow-md">
                    <div class="p-4">
                        <h6 class="mb-3 text-sky-500 text-lg font-semibold"><i class="fas fa-handshake text-yellow-500 pe-2"></i> How safe is it safe to buy smurf accounts from MisterySmurfs?</h6>
                        <p>
                            <strong><u>Completely safe!</u></strong> We prioritize your safety and security. MisterySmurfs works with top payment companies, and all billing information is securely processed.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="bg-gray-900 rounded-lg shadow-md">
                    <div class="p-4">
                        <h6 class="mb-3 text-sky-500 text-lg font-semibold"><i class="fas fa-shield-alt text-yellow-500 pe-2"></i> Is my information safe and secure? We use Stripe for secure payments!</h6>
                        <p>
                            <strong><u>Your information is secure!</u></strong> MisterySmurfs takes data security seriously. Your personal and payment information is handled with utmost confidentiality.
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="bg-gray-900 rounded-lg shadow-md">
                    <div class="p-4">
                        <h6 class="mb-3 text-sky-500 text-lg font-semibold"><i class="fas fa-dollar-sign text-yellow-500 pe-2"></i> Do you accounts come with warranty?</h6>
                        <p>
                            <strong><u>Yes! Lifetime warranty.</u></strong> In case your account gets banned for botting we offer a new fresh replacement of choice.
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="bg-gray-900 rounded-lg shadow-md">
                    <div class="p-4">
                        <h6 class="mb-3 text-sky-500 text-lg font-semibold"><i class="fas fa-users text-yellow-500 pe-2"></i> How do accounts get delivered?</h6>
                        <p>
                            <strong><u>Through Email!</u></strong> As soon as you finish your purchase your account will be delivered through email!
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="bg-gray-900 rounded-lg shadow-md">
                    <div class="p-4">
                        <h6 class="mb-3 text-sky-500 text-lg font-semibold"><i class="fas fa-times-circle text-yellow-500 pe-2"></i> Is the account email unverified?</h6>
                        <p>
                            <strong><u>Yes!</u></strong> Every single one of our accounts has unverified email, meaning you will have full access to the account.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include('partials/MasterFooter') %>
