<%- include('partials/MasterHeader') %>
<title>MisterySmurfs - Buy League of Legends Smurf Accounts</title>
</div>
<div class="col-span-10">
  <div class="bg-gray-900 shadow-lg rounded-lg overflow-hidden">
    <h1 class="text-4xl font-bold text-center text-white py-8">Welcome to <span class="title-text-home">MisterySmurfs</span></h1>
    <p class="text-lg text-center text-gray-300 px-4 pb-8">Your source for high-quality League of Legends smurf accounts.</p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-8">
    <div class="bg-gray-900 text-white rounded-lg overflow-hidden">
      <div class="p-6">
        <h2 class="text-2xl text-yellow-500 font-semibold"><i class="fas fa-crown"></i> Featured Accounts</h2>
        <ul class="mt-4">
          <li class="text-white mt-2"><i class="fas fa-level-up-alt iconlevel"></i> Level 30+ accounts</li>
          <li class="text-white mt-2"><img src="https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-store/global/default/storefront/addon/public/img/sprite-source/lcu-be-svg.svg" alt="Blue essence" class="inline icon">Various Blue Essence amounts</li>
          <li class="text-white mt-2"><i class="fas fa-paint-brush iconknight"></i> Your favorite skins available</li>
        </ul>
      </div>
    </div>

    <div class="bg-gray-900 text-white rounded-lg overflow-hidden">
      <div class="p-6">
        <h2 class="text-2xl text-indigo-500 font-semibold"><i class="fas fa-medal"></i> Why Choose Us?</h2>
        <ul class="mt-4">
          <li class="text-white mt-2"><i class="fas fa-check iconcheck"></i> Fresh unranked accounts</li>
          <li class="text-white mt-2"><i class="fas fa-trophy icontrophy"></i> Ranked smurf accounts for climbing</li>
          <li class="text-white mt-2"><i class="fas fa-chess-knight iconknight"></i> Specialty accounts for roles/champions</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-8">
    <div class="bg-gray-900 text-white rounded-lg overflow-hidden">
      <div class="p-6">
        <h2 class="text-2xl text-green-400 font-semibold"><i class="fas fa-shopping-cart"></i> How to Buy</h2>
        <ol class="mt-4">
          <li class="text-white mt-2"><i class="fas fa-hand-pointer icon"></i> Browse and select an account</li>
          <li class="text-white mt-2"><i class="fas fa-credit-card iconshopping"></i> Complete the checkout process</li>
          <li class="text-white mt-2"><i class="fas fa-envelope iconmail"></i> Receive account details via email</li>
        </ol>
      </div>
    </div>

    <div class="bg-gray-900 text-white rounded-lg overflow-hidden">
      <div class="p-6">
        <h2 class="text-2xl text-sky-500 font-semibold"><i class="fas fa-headset"></i> Support & Guarantee</h2>
        <ol class="mt-4">
          <li class="text-white mt-2"><i class="fab fa-discord icon"></i> Active on Discord for support</li>
          <li class="text-white mt-2"><i class="fas fa-envelope iconmail"></i> Contact us via email: misterysmurfs@gmail.com</li>
          <li class="text-white mt-2"><i class="fas fa-shield-halved iconwarranty"></i> All accounts come with <b>Lifetime Warranty</b></li>
        </ol>
      </div>
    </div>
  </div>

  <div class="mt-8 bg-gray-900 text-white p-4 rounded-lg">
    <h2 class="text-2xl text-center">Ready to get started?</h2>
    <div class="text-center mt-4">
      <a href="/SmurfAccounts" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg">Browse Accounts <i class="fas fa-arrow-right"></i></a>
    </div>
  </div>
  
</div>
<%- include('partials/MasterFooter') %>
